APP_NAME="Symatech Ecommerce"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

FRONTEND_URL=http://localhost:5173

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ecommerce
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=
JWT_TTL=120

MPESA_BASE_URL=https://sandbox.safaricom.co.ke
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORT_CODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=http://localhost:8000/api/payments/mpesa/callback

FLUTTERWAVE_BASE_URL=https://api.flutterwave.com/v3
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_WEBHOOK_HASH=

PESAPAL_BASE_URL=https://pay.pesapal.com/v3/api
PESAPAL_CONSUMER_KEY=
PESAPAL_CONSUMER_SECRET=

LOG_CHANNEL=stack
